$color-primary: #55c57a;
$color-green-light: #7ed56f;
$color-blue-light: #8faaf8;
$color-blue-dark: #4f76e5;
$color-green-dark: #28b485;
$color-primary-light: #7ed56fc0;
$color-primary-dark: #28b485c0;
$color-grey: #777;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-black: #000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

//grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//MIXINS

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin text-linear-gradient {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  color: transparent;
}
@mixin orange-gradient {
  &-orange {
    background-image: linear-gradient(
      to right bottom,
      $color-secondary-light,
      $color-secondary-dark
    );
  }
}
@mixin green-gradient {
  &-green {
    background-image: linear-gradient(
      to right bottom,
      $color-green-light,
      $color-green-dark
    );
  }
}
@mixin blue-gradient {
  &-blue {
    background-image: linear-gradient(
      to right bottom,
      $color-blue-light,
      $color-blue-dark
    );
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: $color-grey;
  box-sizing: border-box;
}
// header
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    ),
    url(./assests/hero.jpg);
  background-size: cover; /* covers the entire width of the scereen */
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* polygon(TL , TR , BR, BL ) */
  position: relative; /* origin from which top and left property of logo-box starts */
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 2.5rem;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    text-align: center;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 1s;
    margin-bottom: 6rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn {
  background-color: $color-white;
  color: $color-grey;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 2rem;
  border-style: none;
  transition: all 0.2s;
  animation: moveInTop 1s 0.5s;
  animation-fill-mode: backwards; /* applies the style of animation of 0%  */
}
.btn:hover {
  /* background-color: #777;
  color: #fff; */
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

//CSS Grid

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  //[class^="col-"] class starts with col-
  //[class$="col-"] class ends with col-
  //[class*="col-"] class contains col-

  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
  .col-1-3 {
    width: calc((100% - 2 *#{$gutter-horizontal}) / 3);
  }
  .col-2-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-4 {
    width: calc((100% - 3 *#{$gutter-horizontal}) / 4);
  }
  .col-2-4 {
    width: calc(
      2 * ((100% - 3 *#{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }

  .col-3-4 {
    width: calc(
      3 * ((100% - 3 *#{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
    );
  }
}

//About us

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -25vh;
}
.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  @include text-linear-gradient;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.btn-text {
  // &:link,
  // &:visited

  color: $color-primary;
  display: inline-block;
  text-transform: uppercase;
  background-color: $color-grey-light-1;
  border-style: none;
  border-bottom: 1px solid $color-primary;
  padding: 3px;
  transition: all 0.2s;

  &:hover {
    background-color: $color-primary-dark;
    color: $color-white;
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  &:active {
    transform: translateY(0.1rem);
  }
}

.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
}

//Features

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    ),
    url(./assests/nat-3.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -8rem;

  & > * {
    transform: skewY(7deg);
  }
}

.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.3s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    @include text-linear-gradient;
  }

  &:hover {
    transform: translateY(-1.5rem);
  }
}

// Tours

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -8rem;
}
.card {
  perspective: 150rem;
  height: 50rem;
  -moz-perspective: 150rem;
  position: relative;

  &__side {
    height: 50rem;
    transition: all 0.8s ease;
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    overflow: hidden;

    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);
      color: $color-white;
      text-transform: uppercase;
      p {
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        top: 13rem;
        left: 15rem;
      }
      h2 {
        position: absolute;
        top: 16rem;
        left: 12.5rem;
      }

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        );
      }
      &-3 {
        background-image: linear-gradient(to right bottom, #8faaf8, #4f76e5);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    // transform: skewY(-7deg);
    // margin-top: -3rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    // polygon(TL , TR , BR, BL )
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(./assests/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        ),
        url(./assests/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-blue-light,
          $color-blue-dark
        ),
        url(./assests/nat-7.jpg);
    }
  }

  &__heading {
    text-transform: uppercase;
    color: $color-white;

    &--1 {
      position: absolute;
      top: 12.5rem;
      right: 3rem;
      padding: 0.2rem 1rem;
      @include orange-gradient();
      @include green-gradient();
      @include blue-gradient();
    }

    &--2 {
      position: absolute;
      top: 16.5rem;
      right: 3rem;
      padding: 0.2rem 1rem;
      @include orange-gradient();
      @include green-gradient();
      @include blue-gradient();
    }
  }
  &__details {
    padding: 3rem;
    ul {
      width: 80%;
      margin: 0 auto;

      li {
        list-style: none;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        text-transform: uppercase;

        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
  &__button {
    position: absolute;
    top: 30rem;
    left: 9.5rem;
  }
}

//Footer

.section-footer {
  background-color: $color-black;
  padding: 15rem 0;
  position: relative;
}

.footer-img {
  text-align: center;
  margin-bottom: 7rem;
}
.f_list{
  list-style: none;
  
}
.f_item{
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  @include text-linear-gradient;
  &:not(:last-child){
    margin-right: 1.5rem;
  }
}

.f_para{
  text-transform: uppercase;
  font-size: 1.5rem;
  @include text-linear-gradient;
  font-weight: bold;

}